@import 'reset.css';

html {
  --color-global-Bg: var(--dark);
  --color-primary: #446eff;
  --color-primary-hover: var(--light900);
  --color-primary-pressed: #2d49b2;
  --color-disable: #343754;
  --color-text-primary: var(--light);
  --color-border: var(--light900);
  --color-divide: var(--dark800);
  --color-border-hover: var(--color-primary);
  --color-text-Secondary: var(--light500);
  --color-text-third: var(--dark400);
  --color-text-Button: var(--light);
  --color-text-ButtonSelect: var(--light);
  --color-text-Disable: var(--light) 45;
  --color-box: var(--dark900);
  --color-logo: var(--light);
}
