@import 'reset.css';


html {
    --color-global-Bg: var(--dark900);
    --color-primary: #446EFF;
    --color-primary-pressed: #2D49B2;
    --color-disable: #343754;
    --color-text-primary: var(--light);
    --color-border: var(--light900);
    --color-primary-hover: var(--light900);
    --color-border-hover: var(--color-primary);
    --color-text-Secondary: var(--light500);
    --color-text-Third: var(--dark400);
    --color-text-Button: var(--light);
    --color-text-ButtonSelect: var(--light);
    --color-text-Disable: var(--light) 45;
    --color-box: var(--dark);
    --color-logo: #FFFFFF;
}

