body {
  background: var(--color-global-Bg);
  font-family: Roboto, Helvetica, Arial, "华文细黑", "Microsoft YaHei",
  "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  user-drag: none;
  user-select: none;
}

button {
  border: 1px solid var(--color-border);
  border-radius: 2px;
  box-sizing: border-box;

  &:hover {
    border: 1px solid var(--color-border-hover);
  }
}


.Typography-root {
  font-size: 14px;
  color: var(--color-text-primary);
}

header {
  .headerGg {
    width: 100vw;
    background-color: var(--color-box);
  }

  .Toolbar-root {
    height: var(--header-height);
    background-color: var(--color-box);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    ul {
      margin-left: 24px;

      li {
        display: inline-block;
        height: var(--header-height);
        line-height: var(--header-height);
        padding: 0 8px;
      }
    }
  }
}


footer {
  .Container-root {
    display: flex;
    flex-direction: column;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}


.flexBox {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.sectionFull {
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.align-center {
  align-items: center;
}


/* Rectangle 1662 */

#labelNavLanuch {
  /*width: 112px;*/
  padding: 0 16px;
  line-height: 36px;
  height: 36px;
  border-radius: 2px;
  border: 0;
  /*border: 1px solid;*/
  /*border-image: linear-gradient(90deg, #D7B2FF 0%, #77AAFF 53.24%) 1;*/
  color: var(--color-text-primary);
  border-image-repeat: round;
  position: relative;
  z-index: 99;
  box-sizing: border-box;
}

#labelNavLanuch:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  content: '';
  border-radius: 2px;
  z-index: -1;
  border: 2px solid;
  border-image: linear-gradient(90deg, #D7B2FF 0%, #77AAFF 53.24%) 1;
  /*background-image: linear-gradient(90deg, #D7B2FF 0%, #77AAFF 53.24%);*/
  /*mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABeSURBVHgB7dZBDYAwDIXhtgomAWdowAE4wF5PTMIMNOUtWFgv5P1Jk5329Vh1911V78xssraOORXAg8cmNQ0r/HzWTIojQIAAAQIEfgLgohhSV7eIOOQ7MZY2F8dcL/hCFFUPCYXoAAAAAElFTkSuQmCC);*/
  /*-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABeSURBVHgB7dZBDYAwDIXhtgomAWdowAE4wF5PTMIMNOUtWFgv5P1Jk5329Vh1911V78xssraOORXAg8cmNQ0r/HzWTIojQIAAAQIEfgLgohhSV7eIOOQ7MZY2F8dcL/hCFFUPCYXoAAAAAElFTkSuQmCC);*/
  /*mask-size:99%;*/
  /*-webkit-mask-size:99%;*/
}

#logo {
  min-width: auto;
  border-radius: 0px;
  text-indent: -999999em;
  background: var(--color-logo);
  -webkit-mask: url(https://static.loopring.io/assets/svg/logo.svg) center center / contain space;
  width: 105px;
  height: 40px;
  padding: 8px;
  color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  outline: 0px;
  border: 0px;
  margin: -10px 0px 0px -12px;
  cursor: pointer;

  &::after {
    content: "beta";
    position: absolute;
    color: var(--color-logo);
    display: block;
    font-size: 1rem;
    line-height: 0.8rem;
    right: -24px;
    top: 14px;
    font-weight: 200;
    opacity: 0;
    box-shadow: 0 0 1px 0 var(--color-logo);
    border-radius: 2px;
    padding: 3px 2px;
  }

  svg {
    fill: var(--color-text-Secondary);
  }
}


/* identical to box height, or 129% */


.Container-root, .wrap {
  max-width: calc(1200px - 32px);
  padding: 0 16px;
  margin: 0 auto;
}


a.Typography-root,
a.Typography-root:active,
a.Typography-root:visited,
.Link-root,
.Link-root:active,
.Link-root:visited,
.MenuItem-root a.Typography-root,
.MenuItem-root a.Typography-root:active,
.MenuItem-root a.Typography-root:visited,
.Link-root {
  color: var(--color-text-Secondary)
}

a.Typography-root:hover,
.MenuItem-root a.Typography-root:hover, .Link-root:hover {
  color: var(--color-text-primary)
}

.Link-underlineAlways:hover {
  text-decoration: underline;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.sectionDetail {
  justify-content: center;
  display: flex;

  h3 {
    word-break: break-all;
    white-space: pre;
    line-height: 1.2em;
    margin: 24px 0;
  }

  p {
    line-height: 1.2em;
    word-break: break-all;
    white-space: pre;
  }
}


.sectionDetail:nth-child(odd) .wrap {
  flex-direction: row-reverse;
}

.sectionDetail:nth-child(even) .img-container {
  display: flex;
  justify-content: flex-end;
}

.sectionDetail .wrap {
  justify-content: space-between;
  display: flex;

  align-items: center;
}

h3.Typography-root {
  font-size: var(--h1)
}

h3 ~ p.Typography-root {
  color: var(--color-text-third);
  font-size: var(--h5)
}


.downLoadBtnGroup .Typography-roo {
  display: inline-block;
  margin-left: 8px;
}

.downLoadBtnGroup svg {
  fill: var(--color-text-Button);
}

.downLoadBtnGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.downLoadBtnGroup button {
  margin-left: 24px;
  width: 180px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 24px;
}


/* Ethereum Unleashed */

#labelEthereumUnleashed {
  width: 522px;
  height: 72px;
  font-weight: 700;
  font-size: 56px;
  line-height: 72px;
  background: linear-gradient(90deg, #D7B2FF 0%, #77AAFF 53.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*background-clip: text;*/
  border-radius: 2px;
  text-fill-color: transparent;
  margin-top: 40px;
  margin-bottom: 16px;
  text-align: center;
}

#labelGatewayToEthereum {
  margin-bottom: 32px;
  font-size: var(--h4);
  text-align: center;
}

footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .content {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .footerWallet {
    background: var(--color-box);
    padding-top: 16px;
    padding-bottom: 16px;

    .wrap {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  .group {
    padding-top: 16px;

    h6 {
      font-size: var(--body2);
      color: var(--color-text-third);
      line-height: 4em;
      padding-bottom: 8px;
    }

    .Typography-root {
      font-size: var(--body2);
      line-height: 2em;
    }
  }
}

.groupIcon {

  li {
    padding-right: 8px;
  }

  .icon svg {
    font-size: var(--h5);
    fill: var(--color-text-Secondary);
    width: 36px;
    height: 36px;
  }

  a.icon:hover svg {
    fill: var(--color-text-primary);
  }
}


#labelCopyRight {
  color: var(--color-text-third);
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-top: 1px solid var(--color-divide);
}


.logoDex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.logoDex p:first-child {
  color: var(--color-text-primary);
  font-size: var(--h5);
}

.logoDex p:last-child {
  color: var(--color-text-third);
}

.carousel-container {
  display: flex;
  overflow: hidden;
  width: 800px;
  height: 800px;
}

@media only screen and (max-device-width: 1024px) {
  .Container-root, .wrap {
    width: 100vw;
    padding: 0 16px;
    margin: 0 auto;
  }

  .carousel-container {
    display: flex;
    overflow: hidden;
    align-items: center;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  #logo {
    min-width: auto;
    /*border-radius: 0px;*/
    /*text-indent: -999999em;*/
    background: var(--color-logo);
    -webkit-mask: url(https://static.loopring.io/assets/svg/loopring.svg) center center / contain space;
    width: 40px;
    height: 40px;
    margin-left: 8px;
  }

  h3.Typography-root {
    font-size: var(--h4);
    text-align: center;
  }

  h3 ~ p.Typography-root {
    font-size: var(--body);
    white-space: initial;
  }

  header ul li:first-child {
    display: none;
  }

  .downLoadBtnGroup {
    flex-direction: column;
    min-height: 200px;
    margin-left: 0;
  }

  .downLoadBtnGroup button {
    margin-left: 0;
  }

  footer {
    .footerWallet .wrap {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    .content {
      flex-direction: column;
    }
  }

  #labelEthereumUnleashed {
    width: 100%;
    font-size: 36px;
  }

  #logSvg {
    display: none;
  }

  .sectionFull {
    align-items: flex-start;
    justify-content: center;
    height: initial;
    margin: 24px 0;
  }

  .sectionDetail .wrap {
    flex-direction: column !important;
  }

  .sectionDetail .img-container {
    display: flex;
    margin-top: 24px;
    justify-content: center !important;
  }


}


