body {
  background: var(--color-global-Bg);
  font-family: Roboto, Helvetica, Arial, '华文细黑', 'Microsoft YaHei', '微软雅黑', SimSun, '宋体',
  Heiti, '黑体', sans-serif;
  user-drag: none;
  user-select: none;
}

svg {
  fill: var(--color-text-primary);
}

button {
  border: 1px solid var(--color-border);
  border-radius: 2px;
  box-sizing: border-box;

  &:hover {
    border: 1px solid var(--color-border-hover);
  }
}

.Typography-root {
  font-size: 14px;
  color: var(--color-text-primary);
}

.Typography-h4 {
  font-size: var(--h4);
}

.Typography-subtitle {
  font-size: var(--subtitle);
}

.Typography-h1 {
  font-size: var(--h1);
}

.Typography-h2 {
  font-size: var(--h2);
}

header {
  .headerGg {
    width: 100vw;
    //background-color: var(--color-box);
  }

  .Toolbar-root {
    height: var(--header-height);
    //background-color: var(--color-box);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    ul {
      margin-left: 24px;

      li {
        display: inline-block;
        height: var(--header-height);
        line-height: var(--header-height);
        padding: 0 8px;
      }
    }
  }
}

.flexBox {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.stretch {
  justify-content: stretch;
}

/* Rectangle 1662 */

#labelNavLanuch {
  /*width: 112px;*/
  padding: 0 16px;
  line-height: 36px;
  height: 36px;
  border-radius: 2px;
  border: 0;
  /*border: 1px solid;*/
  /*border-image: linear-gradient(90deg, #D7B2FF 0%, #77AAFF 53.24%) 1;*/
  color: var(--color-text-primary);
  border-image-repeat: round;
  position: relative;
  z-index: 99;
  box-sizing: border-box;
}

#labelNavLanuch:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  content: '';
  border-radius: 2px;
  z-index: -1;
  border: 2px solid;
  border-image: linear-gradient(224.95deg, #79FAAC -5.39%, #4F5AE4 96.95%) 1;
}

#logo {
  min-width: auto;
  border-radius: 0px;
  text-indent: -999999em;
  background: var(--color-logo);
  -webkit-mask: url(https://static.loopring.io/assets/svg/logo.svg) center center / contain space;
  width: 105px;
  height: 40px;
  padding: 8px;
  color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  outline: 0px;
  border: 0px;
  margin: -10px 0px 0px -12px;
  cursor: pointer;

  &::after {
    content: 'beta';
    position: absolute;
    color: var(--color-logo);
    display: block;
    font-size: 1rem;
    line-height: 0.8rem;
    right: -24px;
    top: 14px;
    font-weight: 200;
    opacity: 0;
    box-shadow: 0 0 1px 0 var(--color-logo);
    border-radius: 2px;
    padding: 3px 2px;
  }

  svg {
    fill: var(--color-text-Secondary);
  }
}

/* identical to box height, or 129% */

.Container-root,
.wrap {
  max-width: calc(1200px - 32px);
  padding: 0 16px;
  margin: 0 auto;
}

a.Typography-root,
a.Typography-root:active,
a.Typography-root:visited,
.Link-root,
.Link-root:active,
.Link-root:visited,
.MenuItem-root a.Typography-root,
.MenuItem-root a.Typography-root:active,
.MenuItem-root a.Typography-root:visited,
.Link-root {
  color: var(--color-text-Secondary);
}

a.Typography-root:hover,
.MenuItem-root a.Typography-root:hover,
.Link-root:hover {
  color: var(--color-text-primary);
}

.Link-underlineAlways:hover {
  text-decoration: underline;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.sectionFull {
  width: 100vw;
  margin: 80px 0;

  a {
    display: inline-flex;
    align-items: center;
    color: var(--color-text-primary);

    &:hover {
      color: var(--color-primary);

      svg {
        fill: var(--color-primary);
      }
    }
  }

  button {
    &:hover {
      border: 1px solid var(--color-border-hover);

      svg {
        fill: var(--color-border-hover);
      }
    }
  }

  .wrap:nth-child(even) {
    flex-direction: row-reverse;
  }

  &:nth-child(odd) .img-container {
    display: flex;
    justify-content: flex-end;
  }

  .wrap {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

h3.Typography-root {
  font-size: var(--h1);
}

h3 ~ p.Typography-root {
  color: var(--color-text-third);
  font-size: var(--h5);
}

.cardBtnGroup {
  justify-content: stretch;
  margin-top: 80px;

  .wrap-svg {
    padding: 16px;
    border-radius: 50%;
    background: var(--dark900);
    margin-bottom: 24px;

    svg {
      height: 48px;
      width: 48px;
      fill: var(--color-text-Button);
    }
  }

  .des {
    margin-top: 8px;
    color: var(--color-text-third);
  }

  button {
    box-sizing: border-box;
    width: 388px;
    height: 285px;
    background: var(--dark);
    border: 1px solid var(--dark600);
    border-radius: 8px;
    margin: 0 12px;
    padding: 0 24px;
    justify-content: center;
    align-items: center;

    &:hover {
      border: 1px solid var(--color-border-hover);

      .wrap-svg {
        background: var(--dark800);
      }
    }
  }

}

.banner {
  .right-part {
    margin-left: 120px;
    align-self: flex-end;
  }
}

/* Ethereum Unleashed */

#LoopringDeveloperBox {
  height: 72px;
  font-size: 64px;
  line-height: 72px;
  font-weight: 700;
  margin-top: 184px;
  margin-bottom: 16px;
  display: inline-flex;
  width: 50%;
  align-items: flex-end;
}

#labelLoopring {
  height: 72px;
  width: fit-content;
  background: linear-gradient(224.95deg, #79FAAC -5.39%, #4F5AE4 96.95%),
  linear-gradient(231.69deg, #79FAAC 39.53%, #4F5AE4 89.75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*background-clip: text;*/
  border-radius: 2px;
  text-fill-color: transparent;
  text-align: center;

}

#labelTitleDes {
  line-height: 1.5em;
  font-size: var(--h5);
  text-align: left;
  color: var(--dark400);

}

footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .Container-root {
    display: flex;
    flex-direction: column;
  }


  .content {
    margin-top: 24px;
    //margin-bottom: 24px;
  }

  .followUs {
    width: 100%;
    background: url(https://static.loopring.io/assets/images/landPage/docFooter.webp) no-repeat 50% 50%;
    height: 367px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .footerContentList {
      justify-content: center;

      ul {
        width: 376px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .icon svg {
          font-size: var(--h5);
          fill: var(--color-text-Secondary);
          width: 40px;
          height: 40px;
        }

        a.icon:hover svg {
          fill: var(--color-text-primary);
        }
      }
    }
  }


  .group {
    padding-top: 16px;

    h6 {
      font-size: var(--body2);
      color: var(--color-text-third);
      line-height: 4em;
      padding-bottom: 8px;
    }

    .Typography-root {
      font-size: var(--body2);
      line-height: 2em;
    }

    #labelFollowus {
      font-size: var(--h1);
      color: var(--color-text-primary);
    }
  }
}

.Button-root {
  cursor: pointer;
}


#labelCopyRight {
  color: var(--color-text-third);
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.logoDex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.logoDex p:first-child {
  color: var(--color-text-primary);
  font-size: var(--h5);
}

.logoDex p:last-child {
  color: var(--color-text-third);
}

.carousel-container {
  --height: 596px;
  --width: 280px;
  --size-image: 0.8;
  display: flex;
  margin-top: 120px;
  overflow: hidden;
  width: 800px;
  height: calc(var(--height) + 32px);
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .container {
    height: 100%;
    width: 100%;
  }

  #slider {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input[type='radio'] {
    display: none;
  }

  .cards {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .card {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: calc(var(--width) / -2);
    margin-top: calc(var(--height) / -2);
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  img {
    width: var(--width);
    object-fit: cover;
    //border-radius: 32px;
    //width: 100%;
    //height: 100%;
    //object-fit: cover;
  }
}

.sectionDetail {
  width: 580px;
  height: 492px;
  min-width: 340px;
  background: var(--dark);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    svg {
      width: 36px;
      height: 36px;
    }
  }

  .labelDocDes {
    margin-top: 8px;
    margin-bottom: 32px;
    line-height: 1.2em;
  }

  .learnMore {
    margin-top: 32px;
    line-height: 1.2em;
    color: var(--color-text-primary);
    align-items: center;
    display: inline-flex;
    flex-direction: row;
  }

  ul {
    width: 500px;

    li {
      margin: 16px 0;
      width: 100%;

      button {
        width: 100%;
        height: 56px;
        line-height: 1.8rem;
        display: flex;
        flex-direction: row;
        color: var(--color-text-primary);
        border: 1px solid var(--dark600);
        border-radius: 8px;
        padding: 0px 16px;
        justify-content: space-between;
        align-items: center;

        span {
          display: inline-flex;
          flex-direction: row;
          align-items: center;
        }
      }
    }
  }
}

.img-container {
  width: 50%;
  min-width: 50%;
  display: flex;
  margin-top: 24px;
  justify-content: center !important;
}

#bgContent {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;

  #bgAlphaBg {
    position: absolute;
    pointer-events: none;
    transform: translate(0, -300px) rotate(0);
    top: 0;
    left: 0;
    width: 100%;
  }

  #bgAlpha {
    position: absolute;
    pointer-events: none;
    transform: translate(12%, -40%) rotate(-13deg);
  }
}

@media only screen and (max-width: 1024px) {
  .Container-root,
  .wrap {
    width: 100vw;
    padding: 0 16px;
    margin: 0 auto;
  }
  .cardBtnGroup {
    margin-top: 32px;
  }
  .carousel-container {
    display: flex;
    overflow: hidden;
    align-items: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }

  #logo {
    min-width: auto;
    /*border-radius: 0px;*/
    /*text-indent: -999999em;*/
    background: var(--color-logo);
    -webkit-mask: url(https://static.loopring.io/assets/svg/loopring.svg) center center / contain space;
    width: 40px;
    height: 40px;
    margin-left: 8px;
  }

  h3.Typography-root {
    font-size: var(--h4);
    text-align: center;
  }

  h3 ~ p.Typography-root {
    font-size: var(--body);
    white-space: initial;
  }

  header ul li:first-child {
    display: none;
  }

  .downLoadBtnGroup {
    flex-direction: column;
    justify-content: space-between;
    height: calc(48px * 3 + 16px * 3);
    margin-left: 0;
  }

  .downLoadBtnGroup button {
    margin-left: 0;
  }

  footer {
    .footerWallet .wrap {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    .downLoadBtnGroup {
      margin-top: 24px;
    }

    .content {
      flex-direction: column;
    }

    .followUs {
      .footerContentList {
        ul {
          width: 320px;
        }
      }
    }
  }
  #LoopringDeveloperBox {
    font-size: 36px;
    margin-top: 32px;
    width: 100%;
  }


  #logSvg {
    display: none;
  }

  .sectionFull {
    align-items: flex-start;
    justify-content: center;
    height: initial;
    margin: 80px 0;
  }

  .sectionFull .wrap {
    //flex-direction: column !important;
    flex-direction: column-reverse !important;
  }

  .carousel-container {
    --size-image: 0.5;
  }
  #bgContent {
    #bgAlphaBg {
      display: none;
    }

    #bgAlpha {
      position: absolute;
      pointer-events: none;
      transform: translate(-30%, -20%) rotate(13deg) scale(0.5);
    }
  }
  .sectionDetail {
    min-width: 340px;
    height: 492px;
    width: 100%;
    max-width: 480px;
  }
  .sectionDetail ul {
    min-width: 340px;
    width: 100%;
    max-width: 480px;
  }
  .banner {
    flex-direction: column;
    align-items: center;

    .right-part {
      margin-left: 0px;
      margin-top: 24px;
      align-self: initial;
    }
  }
  .cardBtnGroup {
    margin-top: 32px;
    flex-direction: column;
    align-items: center;
    width: 310px;

    button {
      margin: 8px;
    }
  }


}

.labelDocumentation {
  --borderWidth: 3px;
  background: var(--color-global-Bg);
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 8px;

  &:hover {
    border: 0;
    box-shadow: 0 5px 15px #f7953304, 0 10px 30px #f3705502;
    animation: boxShow 3s ease alternate infinite;

    &:after {
      content: '';
      position: absolute;
      top: calc(-1 * var(--borderWidth));
      left: calc(-1 * var(--borderWidth));
      right: calc(-1 * var(--borderWidth));
      bottom: calc(-1 * var(--borderWidth));
      background: linear-gradient(
                      60deg,
                      #f79533,
                      #f37055,
                      #ef4e7b,
                      #a166ab,
                      #5073b8,
                      #1098ad,
                      #07b39b,
                      #6fba82
      );
      border-radius: calc(2 * var(--borderWidth));
      z-index: -1;
      animation: animatedgradient 3s ease alternate infinite;
      background-size: 300% 300%;
    }
  }

  //border-radius: var(--borderWidth);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #LoopringDeveloperBox {
    width: 522px;
    font-size: 56px;
  }
  .carousel-container {
    --size-image: 0.7;
    margin-top: 40px;
  }
  .cardBtnGroup {
    margin-top: 32px;
    flex-direction: column;
    align-items: center;

    button {
      margin: 8px;
    }
  }
  .banner {
    flex-direction: column;
    align-items: center;

    .right-part {
      margin-left: 0px;
      align-self: initial;
    }
  }


  #labelTitleDes {
    font-size: var(--h5);
    text-align: center;
  }
  h3.Typography-root {
    font-size: var(--h1);
    margin: 80px 0 40px 0;
  }

  h3 ~ p.Typography-root {
    color: var(--color-text-third);
    font-size: var(--h5);
  }
  .banner {
    flex-direction: column;
    align-items: center;

    .right-part {
      margin-left: 0px;
      align-self: initial;
    }
  }
}

@keyframes boxShow {
  0% {
    //background-position: 0% 50%;
    box-shadow: 0 5px 15px rgba(247, 149, 51, 0.4), 0 10px 30px rgba(243, 112, 85, 0.2);
  }
  25% {
    //background-position: 25% 50%;
    box-shadow: 0 5px 15px rgba(239, 78, 123, 0.4), 0 10px 30px rgba(161, 102, 171, 0.2);
  }
  50% {
    //background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(80, 115, 184, 0.4), 0 10px 30px rgba(16, 152, 173, 0.2);
  }
  75% {
    //background-position: 75% 50%;
    box-shadow: 0 5px 15px rgba(7, 179, 155, 0.4), 0 10px 30px rgba(111, 186, 130, 0.2);
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
    //box-shadow: 0 5px 15px #f7953304, 0 10px 30px #f3705502
  }
  25% {
    background-position: 25% 50%;
    //box-shadow: 0 5px 15px #ef4e7b04, 0 10px 30px #a166ab02
  }
  50% {
    background-position: 50% 50%;
    //box-shadow: 0 5px 15px #5073b804, 0 10px 30px #1098ad02
  }
  75% {
    background-position: 75% 50%;
    //box-shadow: 0 5px 15px #07b39b04, 0 10px 30px #6fba8202
  }
}

#changeColor {
  margin-right: 24px;
  border: 0;
}

//0%,
// to {
//   border: 2px solid #00f8ff;
// }
//
//20% {
//    border: 2px solid #a4ff00;
//    box-shadow: 0 5px 15px rgba(164, 255, 0, .4), 0 10px 30px rgba(37, 41, 46, .2);
//  }
//
//40% {
//    border: 2px solid #f7275e;
//    box-shadow: 0 5px 15px rgba(247, 39, 94, .4), 0 10px 30px rgba(37, 41, 46, .2);
//  }
//
//60% {
//    border: 2px solid #ffd300;
//    box-shadow: 0 5px 15px rgba(255, 211, 0, .4), 0 10px 30px rgba(37, 41, 46, .2);
//  }
//
//80% {
//    border: 2px solid #ff8a00;
//    box-shadow: 0 5px 15px rgba(255, 138, 0, .4), 0 10px 30px rgba(37, 41, 46, .2);
//  }
//
//

.carousel-container {
  #item-1:checked ~ .cards #selector-1,
  #item-2:checked ~ .cards #selector-2,
  #item-3:checked ~ .cards #selector-3,
    //#item-4:checked ~ .cards #selector-4,
    //#item-5:checked ~ .cards #selector-5,
    //#item-6:checked ~ .cards #selector-6,
    //#item-7:checked ~ .cards #selector-7
  {
    //transform: translateX(-120%) scale(0.4);
    transform: translateX(0%) scale(1);
    z-index: 80;
  }

  #item-1:checked ~ .cards #selector-3,
  #item-2:checked ~ .cards #selector-1,
  #item-3:checked ~ .cards #selector-2 {
    transform: translateX(100%) scale(var(--size-image));
    z-index: 70;
  }

  #item-1:checked ~ .cards #selector-2,
  #item-2:checked ~ .cards #selector-3,
  #item-3:checked ~ .cards #selector-1 {
    transform: translateX(-100%) scale(var(--size-image));
    z-index: 70;
  }

  //#item-2:checked ~ .cards #selector-1,
  //#item-3:checked ~ .cards #selector-2,
  //#item-4:checked ~ .cards #selector-3,
  ////#item-5:checked ~ .cards #selector-4,
  ////#item-6:checked ~ .cards #selector-5,
  ////#item-7:checked ~ .cards #selector-6,
  ////#item-1:checked ~ .cards #selector-7
  //{
  //  transform: translateX(-80%) scale(0.6);
  //  z-index: 20;
  //}

  //#item-3:checked ~ .cards #selector-1,
  //#item-4:checked ~ .cards #selector-2,
  //#item-5:checked ~ .cards #selector-3,
  //#item-6:checked ~ .cards #selector-4,
  //#item-7:checked ~ .cards #selector-5,
  //#item-1:checked ~ .cards #selector-6,
  //#item-2:checked ~ .cards #selector-7
  //{
  //  transform: translateX(-40%) scale(0.8);
  //  z-index: 30;
  //}
  //
  //#item-4:checked ~ .cards #selector-1,
  //#item-5:checked ~ .cards #selector-2,
  //#item-6:checked ~ .cards #selector-3,
  //#item-7:checked ~ .cards #selector-4,
  //#item-1:checked ~ .cards #selector-5,
  //#item-2:checked ~ .cards #selector-6,
  //#item-3:checked ~ .cards #selector-7{
  //  transform: translateX(0) scale(1);
  //  z-index: 40;
  //}
  //
  //#item-5:checked ~ .cards #selector-1,
  //#item-6:checked ~ .cards #selector-2,
  //#item-7:checked ~ .cards #selector-3,
  //#item-1:checked ~ .cards #selector-4,
  //#item-2:checked ~ .cards #selector-5,
  //#item-3:checked ~ .cards #selector-6,
  //#item-4:checked ~ .cards #selector-7{
  //  transform: translateX(40%) scale(0.8);
  //  z-index: 30;
  //}
  //
  //#item-6:checked ~ .cards #selector-1,
  //#item-7:checked ~ .cards #selector-2,
  //#item-1:checked ~ .cards #selector-3,
  //#item-2:checked ~ .cards #selector-4,
  //#item-3:checked ~ .cards #selector-5,
  //#item-4:checked ~ .cards #selector-6,
  //#item-5:checked ~ .cards #selector-7{
  //  transform: translateX(80%) scale(0.6);
  //  z-index: 20;
  //}
  //
  //#item-7:checked ~ .cards #selector-1,
  //#item-1:checked ~ .cards #selector-2,
  //#item-2:checked ~ .cards #selector-3,
  //#item-3:checked ~ .cards #selector-4,
  //#item-4:checked ~ .cards #selector-5,
  //#item-5:checked ~ .cards #selector-6,
  //#item-6:checked ~ .cards #selector-7{
  //  transform: translateX(120%) scale(0.4);
  //  z-index: 10;
  //}
}
